/*
 * This page is added onto every new tab by chrome
 * specified under content_scripts to style the sidebar
 * and iframe, does not work for styles inside iframe
 */

 #bv_sidebar_container {
  position: fixed;
  top: 15px;
  right: 0px;
  width: 400px;
  height: 90%;
  box-shadow: 0 0 1em black;
  background-color: white;
  z-index: 2000008100;
  text-align: left;
  overflow-y: scroll;
}

#bv_sidebar_portal {
  position: absolute;
  width: 100%;
  height: 100%;
  border-color: #003d4c; /*same as bv-bootstrap nav border color*/
}

@media print { 
  #bv_sidebar_container, #bv_sidebar_iframe {
    display: none;
  }
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 4px;
  margin-top: 4px !important;
  margin-bottom: 4px !important;
  height: 30px;
  width: 95%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion > a > div {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
}

a {
  cursor: pointer;
  color:#008fb2;
  text-decoration:none;
}

.inline-headers h1, .inline-headers em {
  display: inline-block;
  vertical-align: baseline;
}

.no-float {
  float: none !important;
}